* {
  margin: 0;
  padding: 0;
}

#myData {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: auto;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
}

.button {
  margin: 1rem;
  align-self: center;
  width: auto;
}

.button img {
}
