* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.9);
  scroll-behavior: smooth;
}

body {
    background-color: #fff;
    overflow: hidden;
    height: 100vh;
    font-family: Helvetica, Geneva, Tahoma, sans-serif;
    line-height: 1.4;
}

h1 {
  font-weight: 700;
  font-size: 1.1em;
  line-height: 1.4em;
}

h2 {
  font-size: 0.9em;
  font-weight: 400;
  line-height: 1.4em;
  margin-block-end: 2em;
  color: #959595;
}

p {
  font-size: 0.9em;
  line-height: 1.4em;
  margin-block-end: 1em;
  color: rgba(0, 0, 0, 0.9);
}

ul {
  margin-top: -1rem;
}

li {
  font-size: 0.9em;
  font-style: italic;
  max-width: 90%;
  margin-left: 1em;
}

.highlight {
  color: white;
  background-color: rgba(0, 0, 0, 0.9);
  padding: 0.2em 0.5em;
}

#menu {
  text-align: center;
  z-index: 999;
  position: absolute;
  width: 100vh;
  top: 100vh;
  left: 0;
  background-color: #fff;
  transform: rotate(-90deg);
  transform-origin: 0 0;
}

#menu::after {
  content: "";
  position: absolute;
  width: 80%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.9);
  bottom: -100vh;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

#menu div {
  text-decoration: none;
  margin: 2em;
  display: inline-block;
  text-transform: uppercase;
  cursor: pointer;
}

main {
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    display: flex;
}

section {
    min-width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
  justify-content: space-between;
  align-items: top;
  background: white;
  width: 60%;
}

#text-descript {
  width: clamp(40%, 8rem, 60%);
}

#description {
  background-color: #fff;
  bottom: 0;
}

.button img {
  transform: translateY(0);
  transition: ease-out 0.1s;
}

.button:hover > img {
  transform: translateY(-3px);
}
